<div [formGroup]="form">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Course title"
      formControlName="title"
      #title
    />
    <mat-hint align="end">{{ title.value.length }} / 60</mat-hint>
    <mat-error *ngIf="courseTitle.errors?.titleExists"
      >This title is already being used</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Release Date"
      [matDatepicker]="releaseDatePicker"
      formControlName="releaseDateAt"
    />
    <mat-datepicker-toggle
      [for]="releaseDatePicker"
      matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #releaseDatePicker> </mat-datepicker>
  </mat-form-field>

  {{ form.value | json }}
</div>
