<mat-card class="login-page">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form
      class="login-form data-form"
      #loginForm="ngForm"
      (ngSubmit)="login(loginForm, $event)"
    >
      <mat-form-field>
        <input
          matInput
          type="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="val.email"
          [ngModelOptions]="{ updateOn: 'blur' }"
          required
          email
          minlength="6"
          #email="ngModel"
          (ngModelChange)="emailChange($event)"
        />
        <mat-error *ngIf="email.errors?.required"
          >Digite um e-mail válido!</mat-error
        >
        <mat-error *ngIf="email.errors?.minlength"
          >Necessário mais de 6 caracteres</mat-error
        >
        <mat-error *ngIf="email.errors?.email">E-mail inválido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          #password="ngModel"
          [(ngModel)]="val.password"
          passwordStrength
          required
          minlength="8"
        />

        <mat-error *ngIf="password.errors?.required"
          >Digite uma senha</mat-error
        >
        <mat-error *ngIf="password.errors?.passwordStrength"
          >Senha precisa conter no mínimo: Uma letra maíuscula, minúscula e
          número.</mat-error
        >
        <mat-error *ngIf="password.errors?.minlength"
          >Necessário mais de
          {{ password.errors?.minlength?.requiredLength }} caracteres</mat-error
        >
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
      {{ password.errors | json }}
    </form>
  </mat-card-content>
</mat-card>

<!-- Dentro do input, eu associo um 'id' que recebe a diretiva ngModel e com isso consigo fazer as validações no template.html
#email="ngModel" -->
