<div [formGroup]="form">
  <mat-radio-group formControlName="courseType">
    <mat-radio-button value="free">Free Course</mat-radio-button>
    <mat-radio-button value="premium">Premium Course</mat-radio-button>
  </mat-radio-group>

  <file-upload
    requiredFileType="image/png"
    formControlName="thumbnail"
  ></file-upload>

  <mat-form-field>
    <input matInput placeholder="price" formControlName="price" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Promotional period</mat-label>

    <mat-date-range-input [rangePicker]="promoPicker">
      <input
        placeholder="start date"
        matStartDate
        formControlName="promoStartAt"
      />

      <input placeholder="end date" matEndDate formControlName="promoEndAt" />
    </mat-date-range-input>

    <mat-error *ngIf="form.errors?.promoPeriod && form.dirty"
      >The start date must be before the end date</mat-error
    >

    <mat-datepicker-toggle
      matSuffix
      [for]="promoPicker"
    ></mat-datepicker-toggle>

    <mat-date-range-picker #promoPicker></mat-date-range-picker>
  </mat-form-field>
</div>

<div class="form-val">
  {{ form.value | json }}
</div>
